<div class="card-documento">
  <div class="info-archive" *ngFor="let documento of documentosList; let i = index">
    <h6>
      <span>{{ pageIndex * pageSize + i + 1 }}</span>
      <a class="titulo-busca" [routerLink]="['/buscador/detalhes-documento', documento.id]" rel="noopener" target="_blank"> {{ documento.titulo }}</a>
    </h6>
    <div class="autores">
      <h5>{{ documento.autores | autores }}</h5>
    </div>

    <div class="descricao">
      <p class="txt-descricao">{{ documento.descricao }}</p>
    </div>

    <div class="cidade" *ngIf="documento.cidade">
      <h5>Cidade: {{ documento.cidade.nome_cidade }} | Estado: {{ documento.cidade.estado.nome_estado }} | Mesorregião: {{ documento.cidade.mesorregiao.nome_mesorregiao }}</h5>
    </div>
    <span> {{ documento.ano_publicacao }}</span>
    <div style="display: flex; gap: 10px;">
      <div>
        <a class="btnArchive" *ngIf="documento.arquivo_url" rel="noopener noreferrer" target="_blank" [href]="documento.arquivo_url">
          <mat-icon>login</mat-icon>Acessar</a
        >
      </div>
      <div>
        <a class="btnArchive" *ngIf="documento.nome_arquivo" rel="noopener noreferrer" (click)="onDownloadArquivo(documento.id)">
          <mat-icon>login</mat-icon>Baixar</a
        >
      </div>
    </div>
  </div>
</div>
