<div class="header">
  <nav class="nav container">
    <div class="nav__data">

      <a routerLink="/home" class="nav__logo">
        <!-- <img src="../../../../assets/images/logo.png" alt=""> -->
         <img src="assets/icons/city-icon.svg" alt="">
         LAB CIDADES
     </a>

      <div class="nav__toggle" id="nav-toggle">
        <mat-icon class="nav__burger">menu</mat-icon>
        <mat-icon class="nav__close">close</mat-icon>
<!--         <i class="nav__burger"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></i>
        <i class="nav__close"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></i> -->
      </div>
    </div>

    <!--=============== NAV MENU ===============-->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li><a routerLink="/home" routerLinkActive="selected" class="nav__link no-dropdown">Início</a></li>
        
        <li><a routerLink="/sobre" routerLinkActive="selected" class="nav__link no-dropdown">Sobre</a></li>
        
        <li class="dropdown__item" >
          <div class="nav__link">
            Acervo <mat-icon class="dropdown__arrow">keyboard_arrow_down</mat-icon>
          </div>

          <ul class="dropdown__menu">
            <li>
              <a routerLink="/buscador" class="dropdown__link">
                Buscar Assunto <mat-icon>search</mat-icon>
              </a>
            </li>
          </ul>
        </li>

        <li><a routerLink="/contato" routerLinkActive="selected" class="nav__link no-dropdown">Contato</a></li>
      </ul>
    </div>
  </nav>
</div>
