<!--=============== HEADER ===============-->
<div class="header">
  <nav class="nav container">
    <div class="nav__data">

      <a href="#" class="nav__logo">
        <img src="../../../../assets/images/logo.png" alt="">
     </a>

      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <!--=============== NAV MENU ===============-->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li><a href="#" class="nav__link no-dropdown">Início</a></li>
        
        <li><a href="#" class="nav__link no-dropdown">Sobre</a></li>
        
        <li class="dropdown__item" >
          <div class="nav__link">
            Acervo <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>

          <ul class="dropdown__menu">
            <li>
              <a href="#" class="dropdown__link">
                Buscar Assunto <i class="ri-search-line"></i>
              </a>
            </li>
          </ul>
        </li>

        <li><a href="#" class="nav__link no-dropdown">Contato</a></li>
      </ul>
    </div>
  </nav>
</div>
