.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    padding: 50px;
    border-radius: 5px;
    gap: 10px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    text-align: start;
}
.icon {
    display: flex;
    justify-content: center;
}
.icon img{
    width: 100%;
    max-width: 150px;
}

.btnCard{
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        blue 90%,
        blue 100%
    );

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    text-decoration: none;
    display: inline-flex;
    transition: background-size 300ms;
}

.btnCard:hover{
    background-size: 100% 100%;
    background-position-x: left;
}