.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 50px;
    border-radius: 5px;
    gap: 10px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.icon {
    display: flex;
    justify-content: center;
}
.icon img{
    width: 100%;
    max-width: 150px;
}

.btnCard{
    text-decoration: none;
    display: inline-flex;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 6px;
}