<header>
    <app-navbar></app-navbar>
</header>
<app-back-to-top></app-back-to-top>
<main>
    <section>
        <div class="maxWidthWrapper " >
            <div class="maxHeightWrapper" >
                <div class="section appearAnimation-500">
                    <h2>Sobre o LabCidades</h2>
                    <p>
                        O Lab Cidades é um projeto de extensão da Universidade Estadual de Santa Cruz (UESC), 
                        localizado na região cacaueira do sul da Bahia, que tem como principal objetivo mapear 
                        e analisar os problemas urbanos enfrentados por essa região. A iniciativa busca compreender 
                        os desafios enfrentados pelas comunidades urbanas, explorando questões relacionadas ao 
                        planejamento urbano, infraestrutura, mobilidade, meio ambiente e qualidade de vida. 
                        Esse mapeamento é essencial para identificar as áreas mais vulneráveis e carentes de soluções 
                        efetivas, proporcionando uma base sólida para o desenvolvimento de políticas e 
                        intervenções práticas.
                    </p>
                </div>
                <div class="section appearAnimation-750">
                    <h2>Objetivos do Projeto</h2>
                    <p>
                        O projeto busca engajar a comunidade acadêmica e os moradores locais, 
                        promovendo um diálogo interdisciplinar e participativo, 
                        onde estudantes, professores e especialistas colaboram na identificação dos 
                        principais problemas urbanos e na elaboração de propostas de solução. 
                        A integração entre a universidade e a comunidade permite que o projeto atue como um 
                        laboratório vivo, onde as teorias e metodologias acadêmicas são aplicadas na prática, 
                        resultando em soluções inovadores e sustentáveis que atendam às reais necessidades da população.
                    </p>
                </div>

                <div class="section appearAnimation-1000">
                    <h2>Formação e Impacto Regional</h2>
                    <p>
                        O projeto visa capacitar os estudantes da uesc, preparando-os para enfrentar desafios complexos 
                        e desenvolver habilidades críticas na análise e resolução de problemas urbanos. Ao mesmo tempo, 
                        contribui para o desenvolvimento regional ao propor intervenções que possam melhorar a qualidade 
                        de vida nas cidades da região cacaueira, alinhando-se aos objetivos de desenvolvimento sustentável 
                        e promovendo um futuro mais justo e equitativo para todos os seus habitantes.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>
<app-back-to-top></app-back-to-top>