<mat-card>
  <mat-card-header class="header">
    <h1>Informações Documento</h1>
    <button mat-button color="warn" (click)="onClickCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="content" *ngIf="!loading; else spinner">
    <span><b>Titulo:</b> {{ document.titulo }}</span>
    <p><b>Descrição:</b></p>
    <textarea readonly class="text-area">{{ document.descricao }}</textarea>
    <div>
      <span><b>Autores:</b></span>
      <p class="autores">{{ document.autores | autores }}</p>
    </div>

    <div class="autores">
      <p><b>Ano Publicação:</b> {{ document.ano_publicacao }}</p>
      <p>
        <b>Tipo Documento:</b>
        {{ document.tipo_documento.nome_tipo_documento }}
      </p>
    </div>
    <div class="cidade" *ngIf="document.cidade">
      <span
        ><b>Cidade:</b> {{ document.cidade.nome_cidade }}<b> | Estado:</b>
        {{ document.cidade.estado.nome_estado }} <b>| Mesorregião: </b
        >{{ document.cidade.mesorregiao.nome_mesorregiao }}</span
      >
    </div>
    <p *ngIf="document.arquivo_url" class="url-arquivo">
      <b>Url Arquivo: </b>
      <a
        [href]="document.arquivo_url"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ document.arquivo_url }}
      </a>
    </p>

    <span *ngIf="document.nome_arquivo"
      ><b>Arquivo Adicionado: </b> {{ document.nome_arquivo }}
    </span>
    <button
      mat-button
      mat-stroked-button
      color="primary"
      *ngIf="document.nome_arquivo"
      (click)="onClickDownloadFile(document.id)"
    >
      Download Arquivo
    </button>
  </mat-card-content>

  <ng-template #spinner >
    <div style="display: flex; justify-content: center;">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>
