.side-menu {
    position: fixed;
    background: var(--primary-color);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .brand-name {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: var(--white-color);
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;

        a {
            display: block; // Faz o link ocupar toda a área do <li>
            width: 100%;
            padding: 10px 40px; // Mantém o espaçamento interno do <li>
            color: var(--white-color);
            text-decoration: none;

            &:hover {
                color: var(--black-color);
            }
        }

        &:hover {
            background: white;
        }
    }
}
