<div class="side-menu">
    <div class="brand-name">
        <a style="text-decoration: none;" routerLink="./"><h1>Dashboard</h1></a>
    </div>
    <ul class="list">
        <li><a routerLink="documento" routerLinkActive="selected" class="itens" >Documento</a></li>
        <li><a routerLink="tipo-documento" routerLinkActive="selected" class="itens" >Tipo Documento</a></li>
        <!-- <li><a routerLink="localidade" routerLinkActive="selected" class="itens" >Localidade</a></li> -->
    </ul>
</div>