<div [formGroup]="group" class="filtro-container">
  <div *ngIf="exibirOperador">
    <select formControlName="operador">
      <option *ngFor="let operador of operadores" [value]="operador.value">
        {{ operador.viewValue }}
      </option>
    </select>
  </div>

  <select formControlName="filtro">
    <option *ngFor="let filtro of filtros" [value]="filtro.value">
      {{ filtro.viewValue }}
    </option>
  </select>

  <input
    type="text"
    style="margin-bottom: 5px;"
    formControlName="searchTerm"
    placeholder="Digite os termos de busca"
  />
  <div *ngIf="formValid"> Preencha o campo de busca </div>

  <button
    mat-icon-button
    color="warn"
    (click)="removeFiltro.emit()"
    *ngIf="exibirBotaoRemover"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
