<div [formGroup]="group" class="filtro-container">
  <div *ngIf="showOperator">
    <select formControlName="operator">
      <option *ngFor="let operator of operators" [value]="operator.value">
        {{ operator.viewValue }}
      </option>
    </select>
  </div>

  <select formControlName="filter">
    <option *ngFor="let filter of filters" [value]="filter.value">
      {{ filter.viewValue }}
    </option>
  </select>

  <input
    type="text"
    style="margin-bottom: 5px;"
    formControlName="searchTerm"
    placeholder="Digite os termos de busca"
  />
  <div *ngIf="formValid"> Preencha o campo de busca </div>

  <button
    mat-icon-button
    color="warn"
    (click)="removeFilter.emit()"
    *ngIf="showRemoveButton"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
