<div class="card-arquivo">
  <div class="info-archive" *ngFor="let arquivo of arquivosList; let i = index">
    <h3>{{ i + 1 }} {{ arquivo.titulo }}</h3>
    <div class="autores">
      <h5>{{ arquivo.autores | nomeAutor }}</h5>
    </div>
    <p>{{ arquivo.descricao }}</p>
    <span> {{ arquivo.ano_publicacao }}</span>
    <div>
      <a class="btnArchive" target="_blank" [href]="arquivo.arquivo_url">
        <mat-icon>login</mat-icon>Acessar</a
      >
    </div>
    <div>
      <a class="btnArchive" (click)="downloadArquivo(arquivo.id)">
        <mat-icon>login</mat-icon>Baixar</a
      >
    </div>
  </div>
</div>
