.card-arquivo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-arquivo:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: .25rem !important;
    background-color: #fff !important;
    padding: 1rem !important;
    border-left: 4px solid var(rgba(28,28,94,1));
}

.card-arquivo a{
    color: rgba(34, 15, 43);
    font-weight: var(--font-semi-bold);
}

.info-archive{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-archive p{
    border-left: 2px solid #000;
    padding: 10px;
}

.btnArchive{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.btnArchive:hover{
    color: rgb(255, 166, 0) !important;
    text-decoration: underline;
}



