.busca-avancada {
  position: relative;
  background: var(--white-color);
  width: 1000px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);

  .content-busca-avancada{
    display: flex;
    width: 100%;

    .form-filtro-body {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
      width: 70%;
    }

    .tipo-arquivo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
    }
  }
}

select {
  height: calc(1.5em + .5rem + 2px);
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  font-size: .875rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.form-card-footer {
  display: flex;
  justify-content: end;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (max-width: 860px) {
  .busca-avancada {
    width: 100%;

    .content-busca-avancada{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      gap: 10px;

      .form-filtro-body {
        width: 100%;

        .buttons{
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
