<form class="busca-avancada"  [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="content-busca-avancada" >
    <div class="form-filtro-body">
      <div formArrayName="filters">
        <div *ngFor="let filter of filters.controls; let i = index">
          <app-filter
            [group]="filter"
            [showOperator]="i > 0"
            [showRemoveButton]="i > 0"
            [formValid]="formValid"
            (removeFilter)="removeFilter(i)"
          >
            ></app-filter
          >
        </div>
      </div>

      <div class="buttons">
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="addFilter()"
          [disabled]="isAddFilterDisabled"
        >
          <mat-icon>add</mat-icon>
          Adicionar Filtro
        </button>
      </div>
    </div>
    <div class="tipo-documento">
      <span style="text-wrap-mode: nowrap;">Tipo de Documento</span>
      <select formControlName="documentType">
        <option *ngFor="let documentType of documentTypesOptions" [value]="documentType.id">
          {{ documentType.nome_tipo_documento }}
        </option>
      </select>
    </div>
  </div>

    <div class="form-card-footer" >
      <button mat-raised-button color="primary" type="submit">Buscar</button>
    </div>
</form>
