<form class="busca-avancada"  [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-filtro-body">
    <div formArrayName="filtros">
      <div *ngFor="let filtro of filtros.controls; let i = index">
        <app-filter
          [group]="filtro"
          [exibirOperador]="i > 0"
          [exibirBotaoRemover]="i > 0"
          (removeFiltro)="removeFiltro(i)"
        >
          ></app-filter
        >
      </div>
    </div>
  
    <div class="buttons">
      <button
        mat-raised-button
        type="button"
        color="accent"
        (click)="addFiltro()"
        [disabled]="isAddFiltroDisabled"
      >
        Adicionar Filtro
      </button>
    </div>
  </div>
    
    <div class="form-card-footer" >
      <button mat-raised-button color="primary" type="submit">Buscar</button>
    </div>
</form>
