<div class="filtros">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por titulo</mat-label>
    <input
      matInput
      (keyup.enter)="buscarDocumentosPorTitulo($event)"
      placeholder="Buscar por titulo"
      #input
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Buscar pelo ID</mat-label>
    <input
      matInput
      (keyup.enter)="buscarDocumentoPeloId($event)"
      placeholder="Buscar pelo ID"
      #input
    />
  </mat-form-field>
</div>

<div class="table-wrapper">
  <div class="mat-elevation-z8 margin">
    <table mat-table [dataSource]="documentoDataSource" matSort>
      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Titulo -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
      </ng-container>

      <!-- Ano Publicação -->
      <ng-container matColumnDef="anoPublicacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Ano Publicação
        </th>
        <td mat-cell *matCellDef="let element">{{ element.ano_publicacao }}</td>
      </ng-container>

      <!-- Nome Cidade -->
      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome Cidade</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.cidade?.nome_cidade }}
        </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.cidade?.estado?.nome_estado }}
        </td>
      </ng-container>

      <!-- Mesorregiao -->
      <ng-container matColumnDef="mesorregiao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mesorregião</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.cidade?.mesorregiao?.nome_mesorregiao }}
        </td>
      </ng-container>

      <!-- Tipo Arquivo -->
      <ng-container matColumnDef="tipoArquivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipo_arquivo.nome_tipo_arquivo }}
        </td>
      </ng-container>

      <!-- Criado Em -->
      <ng-container matColumnDef="criadoEm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Criação</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <!-- Atualizado Em -->
      <ng-container matColumnDef="atualizadoEm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Data Atualização
        </th>
        <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
      </ng-container>

      <!-- Ações -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ação</th>
        <td *matCellDef="let element">
          <button
            mat-button
            color="primary"
            (click)="onClickEditarDocumento(element.id)"
            [disabled]="carregando"
          >
            <mat-icon>edit</mat-icon>Editar
          </button>
          <button
          mat-button
          color="warn"
          (click)="onClickDeletarDocumento(element.id)"
          [disabled]="carregando">
            <mat-icon>delete</mat-icon>Deletar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      [pageSize]="10"
      aria-label="Selecione a página de arquivos"
    ></mat-paginator>
  </div>

  <div *ngIf="carregando" class="spinner-wrapper margin">
    <mat-spinner></mat-spinner>
  </div>
</div>
