.contentMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardArquivoList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 400px;
  width: 100%;
  gap: 25px;
}

.arquivoNaoEncontrado {
  display: flex;
  flex-direction: column;
  color: #818182;
  height: 400px;
  padding: 30px 0px 0px 140px;
  gap: 10px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 860px) {
  .cardArquivoList {
    height: auto;
    padding: 15px;
  }

  .arquivoNaoEncontrado {
    padding: 30px;
  }
}
