<header>
  <app-navbar></app-navbar>
</header>

<main>
  <section class="sectionbBuscador">
    <div class="maxWidthWrapper d-flex-a-center">
      <div class="contentMain">
        <div class="contentTop">
          <h1>
            Aqui você encontra conteúdo sobre politicas urbanas e planejamento
            público municipais
          </h1>
          <p>
            Desde artigos, pesquisas, trabalhos técnicos e mapas tudo reunido em
            um só lugar
          </p>
        </div>

        <app-buscador-form
          class="buscador-form"
          (formEvent)="setBuscaAvancada($event)"
          (isBuscaAvancada)="verificarBuscadaAvancada($event)"
        ></app-buscador-form>

        <app-card-arquivo
          *ngIf="!carregando && documentosList.length > 0; else naoEncontrado"
          [documentosList]="documentosList"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          class="card-arquivo"
        ></app-card-arquivo>

        <mat-paginator
          *ngIf="length > pageSize && !isBuscaAvancada"
          [showFirstLastButtons]="true"
          [length]="length"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 15]"
          (page)="onPageChange($event)"
          style="background-color: #F6F6F6"
        >
        </mat-paginator>

        <mat-paginator
        *ngIf="length > pageSize && isBuscaAvancada"
        [showFirstLastButtons]="true"
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 15]"
        (page)="onPageChangeAdvancedSearch($event)"
        style="background-color: #F6F6F6"
      >
      </mat-paginator>

        <ng-template #naoEncontrado>
          <div *ngIf="carregando">
            <mat-spinner></mat-spinner>
          </div>
          <div
            *ngIf="!carregando && documentoNaoEncontrado"
            class="documentoNaoEncontrado"
          >
            <div class="header">
              <h3>Nenhum documento encontrado</h3>
              <p>Não há resultados que correspondam à sua pesquisa.</p>
            </div>
            <ul class="list">
              <li>
                Certifique-se de que todas as palavras estão digitadas
                corretamente.
              </li>
              <li>Tente usar um escopo de pesquisa diferente.</li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>
<app-back-to-top></app-back-to-top>
