<div class="modal">
  <h1 style="padding: 20px">{{ titleForm }}</h1>
  <mat-card-content>
    <form class="form-cidade" [formGroup]="cityForm" (ngSubmit)="onSubmit()">
      <!-- Estado -->
      <mat-form-field appearance="outline">
        <mat-label>Estados</mat-label>
        <mat-select formControlName="estado_id" (selectionChange)="stateSelected($event)">
          <mat-option *ngFor="let state of statesOptions" [value]="state.id">
            {{ state.nome_estado }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cityForm.get('estado_id')?.hasError('required')">
          {{
            cityForm.get("estado_id")?.hasError("required")
              ? "Estado é obrigatório"
              : errorMessage
          }}
        </mat-error>
      </mat-form-field>

      <!-- Mesorregiao -->
      <mat-form-field appearance="outline">
        <mat-label>Mesorregião</mat-label>
        <mat-select formControlName="mesorregiao_id" >
          <mat-option
            *ngFor="let mesorregiao of mesorregioesOptions"
            [value]="mesorregiao.id"
          >
            {{ mesorregiao.nome_mesorregiao }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cityForm.get('mesorregiao_id')?.hasError('required')">
          {{
            cityForm.get("mesorregiao_id")?.hasError("required")
              ? "Mesorregião é obrigatório"
              : errorMessage
          }}
        </mat-error>
      </mat-form-field>

      <!-- Nome Cidade -->
      <mat-form-field appearance="outline">
        <mat-label>Nome Cidade</mat-label>
        <input matInput formControlName="nome_cidade" />
        <mat-error *ngIf="cityForm.get('nome_cidade')?.hasError('required')">
          {{
            cityForm.get("nome_cidade")?.hasError("required")
              ? "O Nome da Cidade é obrigatório"
              : errorMessage
          }}
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="cityForm.invalid"
      >
        Enviar
      </button>

      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="closeModal()"
      >
        Cancelar
      </button>
    </form>
  </mat-card-content>
</div>
