<div class="maxWidthWrapper">
    <div class="containerFooter">
        <div class="footerTop">
            <a class="imgBrasao" rel="noopener" href="https://www.uesc.br/" target="_blank"><img src="../../../../assets/images/Brasão_da_UESC.png" loading="lazy" alt="Brasão UESC"></a>
            <div class="contentFooterTop">
                <h2>Localização</h2>
                <ul class="location">
                    <li><a rel="noopener" target="_blank" href="https://www.uesc.br/"> UNIVERSIDADE ESTADUAL DE SANTA CRUZ - UESC </a></li>
                    <li><a rel="noopener" target="_blank" href="https://maps.app.goo.gl/2LUCswacut6HUZTTA"> Campus Soane Nazaré de Andrade </a></li>
                    <li><a rel="noopener" target="_blank" href="https://maps.app.goo.gl/Czsvgons983cndxd6"> Pavilhão Pedro Calmon, 1º andar </a></li>
                    <li><a rel="noopener" target="_blank" href="https://maps.app.goo.gl/TH9B7QQ2ecU59ybB6"> Rodovia Jorge Amado, Km 16, Salobrinho </a></li>
                </ul>
            </div>
        </div>
        <div class="footerDown">
            <p>© 2024 - Todos os direitos reservados | LABCIDADES</p>
        </div>
    </div>
</div>
