<div class="maxWidthWrapper">
    <div class="containerFooter">
        <div class="footerTop">
            <div class="imgBrasao">
                <img src="../../../../assets/images/Brasão_da_UESC.png" alt="Brasão UESC">
            </div>
            <div class="contentFooterTop">
                <h2>Localização</h2>
                <ul class="location">
                    <li><a target="_blank" href="https://www.uesc.br/"> UNIVERSIDADE ESTADUAL DE SANTA CRUZ - UESC </a></li>
                    <li><a href=""> Campus Soane Nazaré de Andrade </a></li>
                    <li><a target="_blank" href="https://maps.app.goo.gl/Czsvgons983cndxd6"> Pavilhão Pedro Calmon, 1º andar </a></li>
                    <li><a target="_blank" href="https://maps.app.goo.gl/TH9B7QQ2ecU59ybB6"> Rodovia Jorge Amado, Km 16, Salobrinho </a></li>
                </ul>
            </div>
        </div>
        <div class="footerDown">
            <p>Todos os direitos reservados a LAB CIDADES</p>
        </div>
    </div>
</div>
