<header>
  <app-navbar></app-navbar>
</header>
<main>
  <section class="section-1">
    <div class="content">
      <div class="b-img kenBurnsToLeft kenBurnsToLeftTop"></div>
      <div class="mainContent">
        <h2 class="appearAnimation-500">Bem vindo à página do</h2>
        <h1 class="appearAnimation-750">Lab Cidades Uesc</h1>
        <p class="appearAnimation-1000">
          Lab Cidades é um projeto de extensão da Universidade Estadual de
          Santa Cruz (UESC), localizado na região cacaueira do sul da Bahia,
          que tem como principal objetivo mapear e analisar os problemas
          urbanos enfrentados por essa região.
        </p>
        <app-button-primary class="appearAnimation-1250" [text]="'Saiba Mais'" [route]="'/sobre'" ></app-button-primary>
      </div>
    </div>
  </section>
  
  <section class="section-2">
    <div class="maxWidthWrapper">
      <div class="searchEngine appearAnimation scrollAnimation">
        <h2>
          Aqui você encontra conteúdo sobre politicas urbanas e planejamento
          público municipais
        </h2>
        <p>
          Busque por artigos, pesquisas, trabalhos técnicos e mapas tudo reunido em um só
          lugar
        </p>
        <app-search-bar></app-search-bar>
      </div>
    </div>
  </section>

  <section class="section-3">
    <div class="maxWidthWrapper">
      <div class="content">
        <h2>Análise e Planejamento Urbano</h2>

        <div class="cards">
          <app-card
            class="scrollAnimation"
            [title]="'Artigos'"
            [description]="'Confira os artigos publicados'"
            [cardIcon]="'assets/icons/article-icon.svg'"
          ></app-card>
          <app-card
            class="scrollAnimation"
            [title]="'Mini Cursos'"
            [description]="'Confira os mini cursos disponiveis'"
            [cardIcon]="'assets/icons/classroom.svg'"
          ></app-card>
          <app-card
            class="scrollAnimation"
            [title]="'Analises'"
            [description]="'Confira as analises publicadas'"
            [cardIcon]="'assets/icons/analytics.svg'"
          ></app-card>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <app-footer></app-footer>
</footer>
