.overlay-container{
    border-radius: 0px 0px 32px 32px;
    width: 345px;
    max-width: 345px;
    min-width: 345px;
    background: var(--white-color);
    padding-bottom: 16px;
    position: fixed;
}

cdk-overlay-container{
    position: absolute;
}

@media (min-width: 860px){
    .overlay-container{
        width: 664px;
        min-width: 664px;
        max-width: 664px;
    }
}