<div
  class="search-bar-container"
  cdkOverlayOrigin
  #overlayPosition="cdkOverlayOrigin"
  [ngClass]="{'opened mat-elevation-z2': overlayOpen()}"
>
  <button mat-icon-button
  >
    <mat-icon>search</mat-icon>
  </button>
  <input 
  #inputElement
  placeholder="O que você está procurando?" 
  (click)="overlayOpen.set(true)"
  (keyup.enter)="setAssunto($event)"
  />
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayPosition"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
>
<app-search-overlay/>
</ng-template>
