<div
  class="search-bar-container"
  cdkOverlayOrigin
  #overlayPosition="cdkOverlayOrigin"
  [ngClass]="{'opened mat-elevation-z2': overlayOpen()}"
>
  <button mat-icon-button
  (click)="setAssunto(searchInput.value)"
  >
    <mat-icon>search</mat-icon>
  </button>
  <input 
  #searchInput
  placeholder="O que você está procurando?" 
  (keyup.enter)="setAssunto(searchInput.value)"
  />
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayPosition"
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
>
<app-search-overlay/>
</ng-template>
