<div class="search-component">
    <app-search-bar
    *ngIf="!showAdvancedSearch"
    ></app-search-bar>

    <app-form-filtro
    *ngIf="showAdvancedSearch"
    (formEvent)="setSearchAdvancedForm($event)"
    class="form-filtro"
    ></app-form-filtro>

    <div class="buttons" >
        <button type="button" (click)="onClickToggleAdvancedSearch()" *ngIf="showAdvancedSearch">Busca Simples</button>
        <button type="button" (click)="onClickToggleAdvancedSearch()" *ngIf="!showAdvancedSearch">Busca Avançada</button>
    </div>
</div>
