.search-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: end;
    padding: 10px;

    button{
        background: transparent;
    }

    button:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.form-filtro{
    width: 100%;
}

@media (max-width: 860px) {
    .search-component{
        align-items: center;
    }
}