<div class="table-wrapper">
  <div class="mat-elevation-z8 margin">
    <table mat-table [dataSource]="tipoDocumentoDataSource" matSort>
      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Tipo Documento -->
      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nome_tipo_documento }}
        </td>
      </ng-container>

      <!-- Data Criação -->
      <ng-container matColumnDef="criadoEm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Criação</th>
        <td mat-cell *matCellDef="let element">
          {{ element.created_at }}
        </td>
      </ng-container>

      <!-- Data Atualização -->
      <ng-container matColumnDef="atualizadoEm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Data Atualização
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.updated_at }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ação</th>
        <td *matCellDef="let element">
          <button
            type="button"
            (click)="onClickEditarTipoDocumento(element.id)"
            mat-button
            color="primary"
          >
            <mat-icon>edit</mat-icon>Editar
          </button>
          <button
            type="button"
            (click)="onDeletarTipoDocumento(element.id)"
            mat-button
            color="warn"
          >
            <mat-icon>delete</mat-icon>Deletar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      aria-label="Selecione a página de tipos documento"
    ></mat-paginator>
  </div>

  <div *ngIf="carregando" class="spinner-wrapper margin">
    <mat-spinner></mat-spinner>
  </div>

</div>

