@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./styles/utils/variables-css";
@import "./styles/utils/max-width-wrapper";
@import "./styles/utils/footer";
@import "./styles/utils/header";
@import "./styles/utils/section";


/*=============== BASE ===============*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  //background: linear-gradient(90deg, #e2fff7, #a7ffe5 );
  background: #F6F6F6;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}