.filtro-container {
  display: flex;
  align-items: center;
  gap: 20px;

  select {
    height: calc(1.5em + .5rem + 2px);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    border-radius: 4px;
  }

  input{
    height: auto;
    width: 100%;
    padding: 2px;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: solid rgba(28, 28, 94, 1);;
    background: #FFF;
  }
}

@media (max-width: 860px) {
  .filtro-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        width: 90%;
    }
  }
}
